:root{
    --maincolor:#196F3D;
    --secondcolor:#229954;
    --bordercolor:#552b0d;
    --maintext:white;
    --secondtext:#eeeeee;
    --colorswitchborder: #283747;
    --btncolor: #023020;
}