:root{
    --maincolor:#512682;
    --secondcolor:#41285c;
    --bordercolor: goldenrod;
    --maintext:white;
    --secondtext:silver;
    --colorswitchborder:gold;
    --btncolor: #301934;
}